name: "Build"
on: pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on:
      group: aws-highmemory-32-plus-priv
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          jobs: 4
          cores: 12
      - uses: cachix/cachix-action@v14
        with:
          name: text-generation-inference
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        env:
          USER: github_runner
      - name: Check formatting
        run: nix fmt -- -c ./
      - name: Build
        run: nix build .#all
